:root{
    --secondary-font : 'Roboto', sans-serif;
    --container-width: 95%;
    --header-align: left;
}

/* Profile pic CSS */
.myPic{
    width: var(--container-width);
    opacity: 0;
    animation: fadeIn 5s forwards;
}

.myPic img{
    width: 100%;
    margin-top: 40px;
    border-radius: 50%;
}

/* Experience Section CSS */
.experience{
    width: var(--container-width);
    margin: 20px auto 0 auto;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.experience .experience-header h2{
    text-align: var(--header-align); 
}

.experience p{
    font-family: var(--secondary-font);
    margin-top: 15px;
    line-height: 25px;
    font-size: 1.2rem;
}

/* Education Section CSS */
.education{
    width: var(--container-width);
    margin: 30px auto 0 auto;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.education .edu-header h2{
    text-align: var(--header-align);
}

.education .graduated{
    font-family: var(--secondary-font);
}

.education .graduated h3{
    margin-top: 20px;
    font-size: 1.2rem;
}

.education .graduated h3:nth-child(3){
    margin-top: 20px;
}

.education .graduated p{
    font-size: 1.2rem;
}

/* Hobby and Interest */
.hobby{
    width: var(--container-width);
    margin: 40px auto 20px auto;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.hobby .hobby-header h2{
    text-align: var(--header-align);
}

.hobby p{
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

@keyframes fadeIn{
    to{
        opacity: 1;
        transition: .5s;
    }
}

/* Tablet Display */
@media screen and (min-width: 768px){
    /* h2 CSS */
    h2{
        font-size: 1.8rem;
    }

    /* p CSS */
    .container p{
        font-size: 1.5rem;
    } 

    /* Profile pic CSS */
    .myPic{
        width: 60%;
        margin: 0 auto;
    }

    /* Education section CSS */
    .education .graduated h3{
        font-size: 1.7rem;
    }
    
    .education .graduated h4{
        font-size: 1.4rem;
        margin: 10px 0 10px 0;
    }
    
    .education .graduated p{
        font-size: 1.6rem;
    }

}

/* Dekstop Display */
@media screen and (min-width: 1280px){
    /* Container CSS */
    .container{
        width: 85%;
    }

    /* h2 CSS */
    h2{
        font-size: 2.5rem;
    }

    /* Profile pic CSS */
    .myPic{
        width: 40%;
    }

    /* h3 CSS */
    h3{
        font-size: 1.5rem;
    }

    /* p CSS */
    .container p{
        font-size: 1.4rem;
    }
  
    /* experience section CSS */
    .experience p{
        font-size: 1.5rem;
        line-height: 30px;
    }
    
    /* education section CSS */
    .education{
        margin: 50px auto 70px auto;
    }

    .education .graduated h3{
        font-size: 1.8rem;
    }   
    
    .education .graduated h4{
        font-size: 1.6rem;
    }

}

